@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --fonte0: Helvetica,Arial,Verdana, Geneva, Tahoma, sans-serif;
  --fonte1:'Raleway', sans-serif;

  --cor-fundo-conteudo:#80808029;
  --cor-paragrafo-topo:#5d15d1;
}

*{
  margin:0 ;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  font-family: var(--fonte1);
}

header {
  width: 100%;
  height: 55px;
  background-color: #fff;
  display: flex;
}
.largura-maxima {
  min-width: 320px;
  max-width: 1024px;
  width: 100%px;
  height: auto;
  margin: auto;  
}

.topo{  
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.topo > p {
  color: var(--cor-paragrafo-topo);
  font-size: 24px;
  margin-left: 10px;
}

.topo > img {
  width: 32px;
  height: 32px;
}

/* Seção formulário */
#conteudo {
  background:url('../imagens/bahia.jpg') center top no-repeat scroll;
  background-size: cover;
}

/* ======= TOPO FORMULÁRIO =========== */
.formulario {
  padding: 50px 0;
}
.topo-formulario {
  width: 100%;
  height: 35px;
  background-color: var(--cor-paragrafo-topo);
  display: flex;
  justify-content: center;
  align-items: center;
}
.topo-formulario > h1 {
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  margin-left: 5px;
}
.topo-formulario > img {
  width: 20px;
  height: 20px;
  transform: rotate(-45deg);
}
/* ====================== */

/* ========= CONTEUDO FORMULÁRIO ========= */
.conteudo-formulario {
  background-color: #fff;
  width: 100%;
  padding: 30px 25px 20px 25px;
 }
form {
  display: flex;
  flex-direction: column;
}
#usuario_nome, #usuario_email, #usuario_tel, #data_ida, #data_volta, #partindo_de, #indo_para {
  margin: 10px 0;
  padding: 0 5px;
  height: 32px;
  width: 100%;
}
.conteudo-formulario > h2 {
  font-size: 22px;
  margin-bottom: 24px;
}
.conteudo-formulario > form > h3{
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  margin-top: 25px;
  padding-bottom: 8px;
}

div.ida-volta {
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
}
.data-ida, .data-volta{
  width: 100%;
  padding: 0 3px;
}
.quarto-hospedagem {
  width: 100%;
  margin-bottom: 0px;
  display: flex; 
}
.sim-nao {
  width: 120px;
}
.preferencia-opcoes {
  margin-right: 50px;
}
form > span > button {
  margin-top: 20px;
  padding: 5px 20px;
  height: 32px;
  background-color: var(--cor-paragrafo-topo);
  color: #fff;
}
/* ======================================= */

/* ========= Conteudo ofertas ============ */
<<<<<<< HEAD
.ofertas-area, .natureza-area {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 32px auto 0 auto;
}
.ofertas-area > h2, .natureza-area > h2 {
  font-size: 18px;
}
.ofertas-area > h3, .natureza-area > h3 {
  font-size: 14px;
  font-weight: normal;
}
.ofertas-imagens {
  width: 100%;
  height: 375px;
  display: flex;
  justify-content: space-between;
}

.oferta-imagem-destaque {
  position: relative;
  width: calc(50% - 10px);
  height: 100%;
}

.oferta-quatro-imagens {
  width: calc(50% - 10px);
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.oferta-quatro-imagens > figure {
  position: relative;
  width: calc(50% - 10px);
  height: auto;
  margin: 0 6px;
}

.oferta-imagem-destaque > img, .oferta-quatro-imagens > figure > img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.oferta-imagem-destaque > figcaption, .oferta-quatro-imagens > figure > figcaption {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  background: rgb(0, 0, 0, .5);
  font-size: 17px;
  color: #fff;

  padding: 5px 10px;
  box-sizing: border-box;
}

.natureza-area > h2 {
  font-size: 18px;
}
.natureza-area > h3, .natureza-imagem > div > h3  {
  font-size: 16px;
}
.natureza-imagem > div > p {
  font-size: 14px;
}
.natureza-duas-imagens {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}
.natureza-imagem {
  width: calc(50% - 10px);
  height: 100%;
}
.natureza-imagem > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.natureza-imagem > div {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  
}
.natureza-imagem > p {
  color: gray;
  font-size: 14px;
  margin-top: 15px;
}



=======
#ofertas {
  width: 100%;
  margin: 32px auto 0 auto;
  display: flex;
}
#titulo-ofertas > h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
#titulo-ofertas > h3 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 15px;
}

.img-ofertas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 385px;
}
.primeira-img {
  width: 100%;
  position: relative;
} 
.primeira-img > img{
  width: 500px ;
}
.primeira-img > figcaption {
  position:absolute;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.50);
  width: 500px;
  bottom: 10px;
  left: 0px;
  padding: 10px;
}

.demais-img {
  width: 100%; 
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.demais-img > div {
  position:relative;
  width: 100%;
}
.demais-img > div > img {
  width: calc(1024px / 4); 
  height: 190px; 
  padding: 0 0 10px 10px;
}

figcaption.manaus, .rio, .sampa, .maranhao {
  position:absolute;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.417);
  width: 246px;
  bottom: 210px;
  left: 10px;
  padding: 5px;
  font-size: 17px;
}
.sampa {
  bottom: 210px;
}
.rio {
  bottom: 15px;
}
.maranhao {
  bottom:15px;
}

.anuncio-oferta {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.conteudo-1, .conteudo-2 {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.conteudo-1 > img, .conteudo-2 > img {
  width: calc(100% - 10px);
  height: 100%;
  margin: 0 5px;
}
.conteudo-1 > div, .conteudo-2 > div{
  width: 100%;
  padding: 20px;
}
.conteudo-1 > div > h3, .conteudo-2 > div > h3 {
  font-size: 18px;
  font-weight: 500;
}
.conteudo-1 > div > p, .conteudo-2 > div > p  {
  font-size: 16px;
  margin-top: 15px;
  color: rgb(86, 86, 86);
}
>>>>>>> a35616b73f310728d39174695148e6c409027021
/* ======================================= */

/* ========= RODAPÉ ====================== */
footer{
  width: 100%;
  background-color: var(--cor-paragrafo-topo);
<<<<<<< HEAD
  margin-top: 30px;
=======
  margin-top: 32px;
>>>>>>> a35616b73f310728d39174695148e6c409027021
  color: #fff;
}
.rodape {
  display: flex;
  justify-content: space-between;
<<<<<<< HEAD
  margin: auto;
}
.rodape-conteudo {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
}
.rodape-conteudo > h2{
  color:#fff;
  margin-left:15px ;
  font-size: 18px;
}
.rodape-conteudo > div {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.rodape-conteudo > div > img{
  width: 18px;
  margin-left: 10px;
  margin-right: 10px;
}
.rodape-conteudo > div > span {
  columns: #fff;
  font-size: 14px;
  margin-left: 10px;
}
/* ====================================== */




/* ===== Media Queries ================= */
@media (max-width:1100px) {
  .largura-maxima{
    width: 90%;
 }
}

@media (max-width:768px) {
  form > span > button {
    width: 100%;
  }
  .ofertas-imagens {
    height: 100%;
    flex-direction: column;
  }
  .oferta-imagem-destaque, .oferta-quatro-imagens figure{
    width: 100%;
    height: 225px;
    margin: 15px 0 0 0;
   }
   .oferta-quatro-imagens > figure {
  
   }

  .natureza-duas-imagens {
    flex-direction: column;
  }

  .natureza-imagem {
    width: 100%;
    margin-top: 15px;
  }
  .rodape{
    flex-direction: column;
    align-items: center;
  }
  .rodape-conteudo {
    width: 250px;
  }
  footer {
    margin-top: 65px;
  }
}

@media (max-width:540px){
  div.ida-volta, .quarto-hospedagem {
    flex-direction: column;
  }
  .data-ida, .data-volta {
    width: 100%;
  }
=======
}
.contatos > p > img, .rede-social > p > img {
  width: 18px;
}
.contatos, .rede-social {
  display: flex;
  flex-direction: column; 
  margin: 25px 0;
}
.contatos > h3, .rede-social > h3 {
  margin-bottom: 15px;
  font-size: 20px;
}
.contatos > p, .rede-social > p {
  margin: 5px 0;
}
.contatos > p > span, .rede-social > p > span {
  font-size: 16px;
  margin-left: 10px;
}

/* ====================================== */

/* ===== Media Queries ================= */
@media (max-width:768px){
  form > span > button {
    width: 100%;
  }
>>>>>>> a35616b73f310728d39174695148e6c409027021
}

/* ====================================== */